@import "variables";
@import "mixins";
@import "media";
@import "function";
@import "effets";
@import "button";

* {
    font-family: Roboto;
}

body {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: Shrikhand;
}

.entete {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__titre {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 63px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);

        &__icone {
            margin-right: auto;
        }
    }

    &__paragraphe {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eaeaea;
        width: 100%;
        height: 50px;

        &__texte {
            margin-left: 17px;
            font-size: 16px;
            font-weight: 500;
        }
    }
}

.recherche {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h2 {
        font-size: 24px;
        margin-left: 42px;
        margin-right: 42px;
    }

    p {
        font-size: 18px;
        margin-left: 26px;
        margin-right: 26px;
    }

    &__explorer {
        background: linear-gradient(to top left, $primaire, $secondaire);
        color: white;
        font-size: 16px;
        width: 218px;
        height: 50px;
        cursor: pointer;
        padding: 0.8rem;
        border-radius: 10rem;
        border: none;
        box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.15);
        transition: all 1s;
    }

    &__explorer:hover {
        box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
        filter: brightness(140%);
    }
}

.fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__placement {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 25px;

        &__categorie {
            display: flex;
            align-items: center;
            background-color: #f6f6f6;
            font-size: 16px;
            font-weight: 500;
            width: 323px;
            height: 72.38px;
            border-radius: 20px;
            position: relative;

            &__iconegrise {
                color: #7e7e7e;
            }

            &__iconeviolette {
                color: $primaire;
            }

            p {
                margin-left: 34px;

                strong {
                    margin-left: 20px;
                    font-weight: 500;
                }
            }
        }

        &__numerotation {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 24px;
            width: 24px;
            background-color: $primaire;
            border-radius: 30px;
            color: white;
            z-index: 1;
            top: 25px;
            left: -10px;
        }
    }
}

.restaurants {
    background-color: #f7f7f7;
    padding-top: 54px;
    padding-bottom: 66px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__conteneur {
        margin-left: 20px;
    }

    &__menu {
        width: 100%;
        max-width: 340px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;

        &__card {
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            margin-left: 47px;
            margin-right: 18px;
            padding: 0px;
            width: inherit;
            height: 251px;
            border-radius: 20px;
            background-color: white;

            img {
                width: 100%;
                height: 174px;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                object-fit: cover;
            }

            &__placement {
                display: flex;
                justify-content: flex-end;

                img {
                    width: 100%;
                    height: 174px;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    object-fit: cover;
                }

                &__nouveau {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $tertiaire;
                    color: #008766;
                    width: 80px;
                    height: 29px;
                    margin-right: 15px;
                    margin-top: 15px;
                }
            }

            &__presentation {
                margin-left: 13px;
                display: flex;
                justify-content: space-between;

                &__title {
                    margin-top: 16px;
                    margin-bottom: 5px;
                }

                p {
                    margin-top: 0px;
                    margin-bottom: 12px;
                }

                &__icone {
                    position: relative;
                    align-self: center;
                    margin-right: 25px;

                    .fa-heart {
                        font-size: 1.5em;
                        cursor: pointer;
                    }

                    [type="checkbox"] {
                        width: 0;
                        height: 0;
                        position: absolute;
                        margin: 0;
                    }

                    i {
                        position: absolute;
                        top: -10px;
                        left: -20px;
                    }

                    .icone__pleine {
                        opacity: 0;
                        transition: all 0.5s ease-in-out;
                    }

                    [type="checkbox"]:checked + label i {
                        opacity: 1;
                        background-clip: text;
                        -webkit-background-clip: text;
                        color: transparent;
                        background-image: linear-gradient(to bottom left, $primaire, $secondaire);
                    }
                }
            }
        }
    }
}

.footer__fin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #353535;
    color: white;

    &__conteneur {
        margin-left: 25px;

        &__categorie {
            h3 {
                font-family: Shrikhand;
            }

            ul {
                list-style-type: none;
                padding: 0px;

                a {
                    color: white;
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 500;

                    i {
                        font-size: 0.9em;
                    }

                    .fa-utensils {
                        margin-right: 13px;
                    }

                    .fa-handshake-angle {
                        margin-right: 9px;
                    }
                }
            }
        }
    }
}

// page restaurant //

.entete__restaurant {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 63px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);

        &__icone {
            margin-left: 23px;
        }

        &__titre {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
    }

    img {
        height: 251px;
        position: relative;
    }
}

.commande {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -31px;
    position: relative;
    background-color: #f6f6f6;

    &__presentation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 17px;
        margin-right: 17px;

        h2 {
            font-family: Shrikhand;
            font-size: 28px;
            margin-bottom: 0;
            margin-top: 32px;
        }

        &__icone {
            position: relative;
            align-self: center;
            margin-right: 25px;
            margin-top: 32px;

            .fa-heart {
                font-size: 1.5em;
                cursor: pointer;
            }

            [type="checkbox"] {
                width: 0;
                height: 0;
                position: absolute;
                margin: 0;
            }

            i {
                position: absolute;
                top: -10px;
                left: -20px;
            }

            .icone__pleine {
                opacity: 0;
                transition: all 0.5s ease-in-out;
            }

            [type="checkbox"]:checked + label i {
                opacity: 1;
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                background-image: linear-gradient(to bottom left, $primaire, $secondaire);
            }
        }
    }

    &__repas {
        display: flex;
        flex-direction: column;
        margin-left: 13px;
        margin-right: 13px;
        margin-top: 40px;

        &__title {
            font-size: 16px;
            font-weight: 300;
            border-bottom: 3px solid $tertiaire;
            width: 40px;
            height: 27px;

            p {
                margin: 0;
            }
        }

        &__card {
            display: flex;
            justify-content: space-between;
            margin-top: 12px;
            width: 349px;
            height: 69px;
            border-radius: 20px;
            background-color: white;
            box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);

            &__plat {
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin-left: 15px;

                h3 {
                    margin: 0;
                }
                p {
                    font-size: 15px;
                    font-weight: 300;
                    white-space: nowrap;
                    margin-top: 5px;
                    margin-bottom: 0px;
                }
            }
            &__prix {
                align-self: flex-end;
                margin-right: 20px;
                margin-bottom: 13.5px;
            }
        }
    }

    &__bouton {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        padding-bottom: 40px;
    }
}
